.navigationBar{
  position: fixed;
  width: 10%;
  height: 100%;
  margin: 0px;
  padding-top: 20%;
  padding-bottom: 40%;
  background-color: blueviolet;
}

.navigationBar input[name="searchBox"]{
  box-shadow: chocolate;
  width: 100px;
}

.navigationBar input[type="text"]:hover{
  box-shadow: chocolate;
  width: 100px;
}

.productsResults{
  width: 90%;
  padding: 1em;
  margin-left: 10%;
  background-color: black;
}
