ol.productResults[displayStyle="grid"]{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1em;
  row-gap: 1em;
}

ol.productResults[displayStyle="grid"] li{
  list-style-type: none;
  background-color: burlywood;
  box-shadow: 0 2px 8px 0 darkblue;
}
ol.productResults[displayStyle="grid"] li:hover{
  box-shadow: 0 2px 8px 0 red;
}

.productCard[displayStyle="grid"] img{
  width: 70%;
  display: block;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
