.productResults[displayStyle="list"]{
  display: flex;
  flex-direction: column;
}

ol.productResults[displayStyle="list"]{
  background-color: yellow;
}

ol.productResults[displayStyle="list"] li{
  list-style-type: none;
  background-color: wheat;
  margin: 10px;
}

ol.productResults[displayStyle="list"] li:hover{
  box-shadow: 0 2px 8px 0 teal ;
}

.productCard[displayStyle="list"]{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.productCardText[displayStyle="list"]{
  margin-left: 10px;
}

.productCard[displayStyle="list"] img{
  display: block;
  align-content: left;
  width: 3.5cm;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
